<!DOCTYPE html>
<html lang="en">

<head>
  <title>Item Description</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/favourite_button.scss" type="text/css" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Our Site</title>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script async="async" src="https://static.mobilemonkey.com/js/mm_db21a7b5-bd4f-4075-880e-330b226992eb-34134246.js"></script>
<script>
window.mmDataLayer = window.mmDataLayer || [];
function mmData(o) { mmDataLayer.push(o); }
</script>

</head>
<header>
  <%- include('_header') %>
</header>

<body>
<!-- ----------top banner poster for the item page ------------->
<div class="w3-content">
  <img class="item-description-banner" src="https://ohnatural.co.nz/wp-content/uploads/2019/06/Skincare-banner-1600x779-for-blog.jpg" alt="custom_html_banner1">
 </div>

<!-- ---------- breadcrumb directory under banner ------------->
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="category.ejs">Category</a></li>
    <li class="breadcrumb-item active" aria-current="Item">Item</li>
  </ol>
</nav>



    <!----------- main container for item image and item description ------------>
    <div class="container">


      <% for(let item of items) { %>

          <div class="outer-description-container">
            <div class="inner-item">
              <a href="/item_description/<%=item.id%>">
                <img src="<%=item.thumbnail_photo_url %>" class="img-thumbnail-description" alt="...">
              </a>

          <div class="inner-item-description">
            <div class="item-description-title">
              <a href="/item_description/<%=item.id%>">
              <p class="description-title"><%= item.title %></p>
            </a>
            </div>
            <div class="item-price">$<%= item.price%></div>
            <div class="item-description"> <%= item.description %></div>
          </div>
        </div>
        <hr class="item-description-hr">
            <% } %>
</div>


      <div class="item-image">
        <i class="bi bi-suit-heart"></i>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
          <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
        </svg>
      </div>
      <div>
   </div>

    </div>
  </body>

  <!-- --------all footer code below--------- -->
<footer>
  <!DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>

  <body>
    <div class="footer-basic">
      <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
              class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
            href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Home</a></li>
          <li class="list-inline-item"><a href="#">Services</a></li>
          <li class="list-inline-item"><a href="#">About</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Company Name © 2018</p>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script async="async" src="https://static.mobilemonkey.com/js/mm_db21a7b5-bd4f-4075-880e-330b226992eb-34134246.js"></script>
    <script>
    window.mmDataLayer = window.mmDataLayer || [];
    function mmData(o) { mmDataLayer.push(o); }
    </script>
  </body>
</table>

